/* CreatePack.css */

.creP-body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #67C9E6, #6AAACB);
    color: #fff;
    background-image: url("C:\Users\pc\Documents\GitHub\testpage\my-react-app\src\assets\package img.jpg");
}

.creP-contaner {
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    background: transparent;
    backdrop-filter: blur(2px);
}

.creP-titel {
    position:fixed;
    font-size: 24px;
    color: #67C9E6;
    margin-bottom: 20px;
    font-weight: bold;
}

.creP-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
}

.creP-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background: #f9f9f9;
}

.creP-input:focus {
    outline: none;
    border-color: #67C9E6;
    box-shadow: 0 0 5px rgba(103, 201, 230, 0.5);
}

textarea.creP-input {
    resize: none;
}

.creP-radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.creP-rateLable {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.creP-input select {
    cursor: pointer;
}

.creP-submitBtn {
    background: #67C9E6;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.creP-submitBtn:hover {
    background: #55B1CE;
}

.multiSelect {
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background: #f9f9f9;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #67C9E6;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    margin: 5px 0;
    text-align: center;
}
.creP-submitBtn {
    background-color: #d4a373;
    color: #fff;
}
 
.creP-buttons button:hover {
    opacity: 0.8;
}
/* label{
    font-weight: bold;
    color: #55B1CE;
} */
.ppacktype{
    font-weight: bold;
    color: #55B1CE;
}

/* span{
    font-weight: bold;
    color: #55B1CE;
} */
.pdayhour{
    font-weight: bold;
    color: #55B1CE;
}
.creP-duration label{
    font-weight: bold;
    color: #55B1CE;
}
.creP-rateLable{
    font-weight: bold;
    color: #55B1CE;
    font-size: large;
}
