.my-Events {
    font-family: Arial, sans-serif;
    margin: 10px;;
    color:black;
    text-align: center;
    display: block;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(230, 224, 224, 0.922);
    background-color: azure;

}
  .event-item {
    display: flex;           
    justify-content: space-between;  
    padding: 5px;
    align-items: center;     
    background-color: rgb(167, 168, 185);
    border-radius: 10px;
  }
  
  .eLanchButton {
    margin-left: auto;
    color:rgb(227, 227, 238);      
    border-radius: 4px;  
    background-color: rgb(67, 176, 21);
  }
  .eLanchButton:hover{
    background-color: rgb(90, 235, 97);
  }
  .edeleteButton {
    color:rgb(227, 227, 238);      
    border-radius: 4px;  
    background-color: rgb(237, 9, 9);
  }
  .edeleteButton:hover{
    background-color: rgb(129, 6, 6);
  }