
.login-container{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background : url('C:\Users\LENONO\OneDrive\Documents\GitHub\waset-cairo\client\src\assets\p6.jpg') no-repeat center center fixed; 
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.login-box { 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #d79210;

    padding: 40px 30px;
    max-width: 400px;
    max-height: fit-content;
    width: 100%;
    text-align: center;
    background:transparent;
    backdrop-filter: blur(2px);
}

.login-title {
    color: wheat; 
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
}

.login-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #d79210;
    margin: 10px auto 0;
}

.inputs {
    margin-bottom: 20px;
}

.input {
    margin-bottom: 15px;
}

.input input {
    width: 100%;
    padding: 12px 15px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    background: #f9f9f9;
    transition: 0.3s ease-in-out;
}

.input input:focus {
    border-color: #4a2fc8;
    background: #ffffff;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.btn {
    flex: 1;
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:not(:last-child) {
    margin-right: 10px;
}

.btn-primary {
    background-color: #d79210;
    color: #ffffff;
}

.btn-primary:hover {
    background-color:  #bb7f11;
}

.btn-secondary {
    background-color: #f3f3f3;
    color: #555;
}

.btn-secondary:hover {
    background-color: #e0e0e0;
}
