@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.active {
  background-color: #f5f5f5;
  
}